img{
    margin-top:100px;
    margin-left:100px;
    height: 250px;
    width: 250px; 
   
   }
    p {
        font-size: 20px;
        color: #ec407a;
    }
    span {
        font-size: 20px;

    }
    #name{
        font-size: 20px;
        color: #000000;
    }
    #date{
        font-size: 20px;
        color: #077096;
    }
    #Notifications{
        color: #ec407b;
        font-family: 'VT323', sans-serif;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 20px
    }
    #glasses{
        color: #ec407b;
        font-family: 'VT323', sans-serif;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 20px
    }
    #feature {
        color: #ec407a ;
        font-family: 'VT323', sans-serif;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 20px
    }
    #sub-title{
        font-size: 20px;
        color: #077096;
    }